body {
  background-color: lightgrey;
}
.employeeFormInput {
  /*float: right;*/
  line-height: 20px;
}
#employees {
  border-collapse: collapse;
  width: 90%;
  /*align: center; NEED THIS CODE */
}
#employees th, #employees td {
  border:1px solid blue;
}
#employees fieldset {
  width:100%;
}
#employees li {
  margin:10px;
  list-style: none;
}
#employees input {
margin-left: 45px;
text-align: left;
}
#employees textarea {
  margin-left: 10px;
  text-align: left;
}
#new-ul {
  font-weight: bold;
}
#new-ul li {
  display: inline;
}
#pageRefresh, #submitNewEmployee {
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bolder;
  background-color: black;
  color: white
}
#submitNewEmployee {
  float: right;
  font-size: 100%;
  line-height: 25px;
  letter-spacing: 2px;
}
#pageRefresh {
  float: left;
  background-color: darkgray;
}
#monthlyExpense {
  font-size: 24px;
  font-weight: bolder;
  line-height: 50px;
}
caption {
  font-weight: bolder;
  padding-bottom: 20px;
  display: table-caption;
  font-size: 20px;
  color: red
}
legend {
  font-weight: bold;
}
